<app-nav-bar></app-nav-bar>
<div class="profile-container">
    <mat-card class="profile-card">
        <mat-card-title class="profile-title">
            Profile Details
        </mat-card-title>
        <hr>
        <mat-card-content>
            Username: {{ user.UserName }}
        </mat-card-content>
        <mat-card-content>
            Email: {{ user.Email }}
        </mat-card-content>
        <mat-card-content>
            Birthday: {{ user.Birthday | date : 'MM/dd/yyyy' : 'UTC' }}
        </mat-card-content>
        <mat-card-actions>
            <button class="update-button" mat-raised-button (click)="openUpdateViewDialog()">Update Profile</button>
            <button class="delete-profile-button" mat-raised-button color="warn" (click)="deleteProfile()">Delete
                Profile</button>
        </mat-card-actions>
    </mat-card>
</div>
<h2 class="favorite-title">
    Favorite movies:
</h2>
<hr>
<div class="favorite-card-wrapper" style="display: flex;">
    <mat-card *ngFor="let favorite of favorites;" class="favorite-card" style="flex: 1 1 auto;">
        <mat-card-title class="favorite-card-title">
            {{favorite.Title}}
        </mat-card-title>
        <img height="200px" src={{favorite.ImagePath}} alt={{favorite.Title}} />
        <div class="delete-favorite-button" (click)="removeFromFavorites(favorite._id, favorite.Title)">
            <mat-icon mat-button>delete_forever</mat-icon>
        </div>
    </mat-card>

</div>